.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1rem;
}

.container > .row {
    display: flex;
    flex-wrap: wrap;
}
.container > .row > [class*='col-'] {
    padding: 0 1rem;
    outline: 1px solid red;
}
.container > .row > .col-12 {
    width: 100%;
}

.container > .row > .col-6 {
    width: 50%;
}

.container > .row > .col-3 {
    width: 25%;
    padding: 0 1rem;
    outline: 1px solid red;
}
@media (min-width: 36rem) {
    .container > .row {
        width: 30rem;
    }
}
@media (min-width: 48rem) {
    .container > .row {
        width: 42rem;
    }
}
@media (min-width: 75rem) {
    .container > .row {
        width: 69rem;
    }
}
@media (min-width: 82rem) {
    .container > .row {
        width: 42rem;
    }
}
.visible-sm-block {
    display: block;
}
.visible-sm-inline-block {
    display: inline-block;
}
.visible-sm-flex {
    display: flex;
}
.visible-sm-grid {
    display: grid;
}
.visible-sm-table {
    display: table;
}
.hidden {
    display: none;
}
